.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-block: 1em;
  text-align: center;
}
.listaDatos {
  padding: 2rem;
  line-height: 2rem;
  border: solid 1px rgb(220, 220, 220);
  border-radius: 0.5rem;
  background-color: #0066cc;
}

.ficha {
  border: solid 1px rgb(220, 220, 220);
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.datos {
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.tituloPerfil {
  border-radius: 0.5rem;
  border: solid #ffffff 0.15rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  background-color: #0066cc;
  color: #ffffff;
  text-transform: capitalize;
}
.input {
  width: 100%;
  padding: 10px 3px;
  border-radius: 0.25em;
  border: none;
}

.mostrar {
  color: #ffffff;
  padding-left: 0.75rem;
}

.buttons {
  justify-content: space-evenly;
  display: flex;
}

.submit {
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 0.25em;
  border: none;
}
.submit:hover {
  color: rgb(255, 254, 254);
  transition: 0.25s all;
  border: none;
}

@media screen and (max-width: 768px) {
  .formRegistro {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
